div{
    padding-left: 20px;
    padding-top: 1px;
    height: 250px;
    width: 500px;
    background: rgb(187, 65, 17);
    margin-left: 50px;
    margin-top: 30px;
    border: 5px solid green;
}
.ptcolor{
    color: white;
}